
<div class="row row-space">

    <div class="col-3">

        <nav class="nav flex-column">

            <a class="nav-link" href="#">Home</a>

            <a class="nav-link" href="#">Serviços</a>

            <a class="nav-link" href="#">Sobre</a>

            <a class="nav-link" href="#">Contatos</a>

            <a class="nav-link" href="#">Sistema</a>

        </nav>

    </div>

    <div class="col-6">

        <p class="footer-website">copyright teste teste teste teste</p>

    </div>

    <div class="col-3">

    </div>

</div>
