
<div class="row row-space">

    <div class="col-3">

        <nav class="nav flex-column">

            <a class="nav-link" href="/">Home</a>

            <a class="nav-link" href="{% url 'website_sobre' %}">Sobre</a>

            <a class="nav-link" href="{% url 'website_planos' %}">Planos</a>

            <a class="nav-link" href="{% url 'website_servicos' %}">Serviços</a>

            <a class="nav-link" href="{% url 'website_contato' %}">Contatos</a>

            <a class="nav-link" href="{% url 'core_home' %}">Sistema</a>

        </nav>

    </div>

    <div class="col-3"></div>
    <div class="col-3"></div>
   
</div>

<div class="row row-space">

    <div class="col">

        <p class="footer-website">copyright teste teste teste teste</p>

    </div>

</div>


