{% extends 'website/base.html' %}


{% load static %}


{% block main %}

    <div class="row row-space">

        <div class="col-8">
            {{ texto1 }}
        </div>

        <div class="col-4">
          <img class="img-index" src="{% static 'img/estacionamento.png' %}" alt="Estacionamento 24 horas">
        </div>

    </div>

    <div class="row row-space">

        <div class="col-8">
            {{ texto2 }}
        </div>

        <div class="col-4">
            <img class="img-index" src="{% static 'img/estacionamento.png' %}" alt="Estacionamento 24 horas">
        </div>

    </div>


{% endblock main %}

