{% extends 'website/base.html' %}


{% load static %}
  

{% block main %}

    <div class="row row-space">

        <div class="col-12">

          <p>
            {{ texto1 }}
          </p>
           
        </div>

    </div>

    <div class="row row-space">

      <div class="col-6">
        <img class="img-index" src="{% static 'img/estacionamento.png' %}" alt="Estacionamento 24 horas">
      </div>

      <div class="col-6">
        <img class="img-index" src="{% static 'img/estacionamento.png' %}" alt="Estacionamento 24 horas">
      </div>

    </div>

{% endblock main %}